<ul class="accordion-menu">
    <li class="sidebar-title">
        Apps
    </li>
    <li class="<%= (title == 'Dashboard') ? 'active-page' : '' %>">
        <a href="/" class="<%= (title == 'Dashboard') ? 'active' : '' %>"><i class="material-icons-outlined">dashboard</i>Dashboard</a>
    </li>
    <li class="<%= (title == 'List Batch') ? 'active-page' : '' %>">
        <a href="/list-batch" class="<%= (title == 'List Batch') ? 'active' : '' %>"><i class="material-icons-outlined">batch_prediction</i>List Batch</a>
    </li>
</ul>